Software and Data Processing Agreement

NOTICE TO USER: PLEASE READ THIS SOFTWARE AGREEMENT ['THE AGREEMENT'] CAREFULLY.  BY DOWLOADING AND /OR USING ALL OR ANY PORTION OF THE SOFTWARE YOU INDICATE YOUR ACCEPTANCE OF THE FOLLOWING TERMS FROM 'THE UNIVERSITY'. YOU AGREE TO BE BOUND BY ALL TERMS AND CONDITIONS OF THIS AGREEMENT.  YOU AGREE THAT IT IS ENFORCEABLE AS IF IT WERE A WRITTEN NEGOTIATED AGREEMENT SIGNED BY YOU. 

The Agreement is between The Chancellor, Masters and Scholars of the University of Cambridge (the 'University') and you the Licensee (either an individual or a legal entity). 

The Authors are employees of the University's Department of Public Health and Primary Care who have written a Web  based computer program known as BOADICEA ('the Software') which is available via the World Wide Web https://boadicea-test.ccge.medschl.cam.ac.uk

1. Definitions
'Authors' means Dr Alex Cunningham, Dr Antonis Antoniou, Dr Andrew Lee and Dr Nasim Mavaddat
'Data' means Licensee's anonymised patient Data,
'Term' means unlimited duration subject to clause 4, 
'Purpose' means the use of the Software to store and process Data, and to calculate mutation carrier probabilities and cancer risks, 
'Use or Using' means to access, use, run or otherwise benefit from using the Software during the Term.

2. The Licensee wishes to acquire a licence to Use the Software and the University has agreed to do so and hereby grants to Licensee a non exclusive, non transferable, non assignable right to Use the Software during the Term.
On (indicating) acceptance of the terms and conditions (below), the Licensee will be given a username and password ('the Login') to the Software.  The purpose of acquiring the Login is to give the Licensee access to the Software for the Purpose'.

Terms and Conditions for Release of Software

3 Ownership and Use of Software

3.1	The University shall have sole and exclusive ownership of all right, title and interest in and to the Software, including all copyright and any other intellectual property rights therein.  This Agreement grants a limited licence to Use the Software and shall not be construed to convey title to or ownership of the Software to Licensee.  All rights in and to the Software not expressly granted to Licensee are reserved by the University.  The Software is protected by copyright, trademark, patent and or other intellectual property rights and laws.  Any unauthorised Use of the Software may violate such laws and these terms of Use.

3.2 Ownership of all clinical data and information stored and processed Using the Software shall remain with and vest in the Licensee.  Licensee shall be responsible for all data and information collected, collated and processed using the Software and shall be responsible for compliance with all and any statutory obligations relating thereto.

3.3 The Licensee shall use the Software only for the Purpose. Licensee shall not modify, adapt, disassemble, reverse engineer, decompile, translate or otherwise attempt to discover the source code of the Software, or write or develop any derivative software or any other software program based on the Software or confidential information provided by the University or permit any of these things to happen except as allowed by applicable law.

3.4 The Licensee shall not distribute, sub-license, sell, lend, , provide any commercial or fee paying services to third parties, provide access (including without limitation via a public-access internet site) to the whole or any part of the Software or use it to process the work of any third party.

3.5 The Licensee shall keep the Login secure.  The Licensee shall not supply the Login to any other party.  The Licensee shall refer to the University any request for the Software. The Licensee shall supervise the use of the Software, control access to it and keep it secure.  The Licensee remains fully responsible at all times for all acts and omissions of anyone it allows to use the Software and for ensuring such person understands and observes this licence.  This responsibility includes without limitation any employee, agent, students, consultant, independent contractor or visiting researcher.

4 Clinical Data Security

4.1 In order to Use the Software, Licensee will submit its clinical Data to the Software for processing.

4.2 The Software is Web server based and is run on the University's computer network. The University has provided a manual ('the Boadicea Manual') detailing instructions for effective use of the Software.  Licensee shall comply with all instructions and guidelines in the Boadicea Manual to ensure effective operation of the Software and appropriate results from data processed.  The University shall not be liable for any faults, defects, errors or damage or loss to Licensee if the Licensee fails to comply with all instructions and guidelines in the Boadicea Manual.

4.3 The University has taken reasonable precautions to ensure that appropriate security measures are in place for hosting this service.  The Software validates all incoming Data/information and all Data transmissions are encrypted.

4.4 Whilst steps have been taken by the University to ensure that the Web server and the Data held on it are secure, the University cannot guarantee that the Web server will not be subject to malicious attacks, and cannot therefore be held responsible or liable for the effects to Licensee in the event of any such attack occurring in the future.

5 Termination

The University may terminate this Agreement if Licensee fails to comply with the terms and conditions of this Agreement. Upon termination of this Agreement the Login will become invalid. The obligations of both parties in clauses 2 and 4 shall survive termination of this Agreement for whatever cause.

6 Disclaimer and Limitation of Liability

6.1 The Software is provided on an 'As Is' basis, without warranty of any kind. The University makes no representations and extends no warranties of any kind, either expressed or implied as to the accuracy, efficacy, completeness, capabilities or safety of the Software or of any information supplied therewith. The University gives no express or implied warranties of merchantability or fitness for a particular purpose, or that the use of the material will not infringe any patent, copyright, trademark, or other proprietary rights.

6.2 Limitation of Liability

Errors can occur in the use of the Software and the University offers no assurance that they will be corrected.  No liability will be accepted in respect of software defects, service interruptions, nor in the event of any viruses, worms Trojan horse and or other harmful components being present in or transmitted by our systems and networks.

6.3 In no event shall the University be liable for any use by the Licensee (or its employees or agents) of the Software licensed under this Agreement for any of the following losses or damages (whether such losses be foreseen, foreseeable, known or otherwise): loss of data, revenue, anticipated profits, business, opportunity, goodwill or injury to reputation, loss suffered by third parties, any direct, indirect, special, incidental or consequential loss or damages arising out of the use of the Software.  Licensee agrees to indemnify and hold harmless the University for any loss, claim, damage or liability, of whatsoever kind or nature, due to or arising from the use of the Software by the Licensee, except when caused by the gross negligence or wilful misconduct of the University.

6.4 Save as stated in clause 4, all provisions relating to ownership, exclusion of warranty and limitation of liability shall survive the termination or early expiry of this Agreement.

7 Privacy Policy

Registration follows acceptance of these terms and conditions. When you register, your  personal details will collected and will be held securely in accordance with the Data Protection Act 1998.  The information we collect will be used to enable the University to grant the Licensee access to the Software during the period agreed under this licence and not for any other purposes.  The University will not pass on your details to any third party.

8. General

8.1 Dispute Resolution:  If the parties are unable to settle any dispute by negotiation within twenty-eight (28) days the parties will attempt to settle it by mediation in accordance with the Centre for Effective Dispute Resolution (CEDR) Model Mediation Procedure.

8.2 The Licensee may not assign this agreement.

8.3 This Agreement constitutes the entire agreement and understanding of the parties and supersedes all negotiations, understandings or previous agreement between the parties relating to the subject matter of this Agreement.

8.4 English law shall apply to this Agreement, and the English courts shall have exclusive jurisdiction in all matter of construction and interpretation of this Agreement