{% extends "base.html" %}
{% load static %}
{% block title %}Welcome to Vimto{% endblock %}

{% block content %}	
<!-- FRONT PAGE JUMBOTRON -->
		<header style="margin-top:-25px;">
			<div class="jumbotron">
				<div class="container">
					<div class="row text-center">
						<div class="col-xs-12">
							<p><strong>VIMTO</strong></p>

 
							
							
						</div>
					</div>
				</div>
			</div>
		</header>
	<div class="Row">  
	</div>
{% endblock %}
{% block footer_js %} 
  
{% endblock %}

