	<div id="builder">



		<div class="row">
			<div class="col-md-9 pull-left">
				<label>How many brothers does your mother have? (your uncles)</label>
			</div>
			<div class="col-md-3">
				<select id="mat_uncs" class="form-control">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>


		<div class="row">
			<div class="col-md-9 pull-left">
				<label>How many sisters does your mother have? (your aunts)</label>
			</div>
			<div class="col-md-3">
				<select id="mat_aunts" class="form-control">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>


		<div class="row">
			<div class="col-md-9 pull-left">
				<label>How many brothers does your father have? (your uncles)</label>
			</div>
			<div class="col-md-3">
				<select id="pat_uncs" class="form-control">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>


		<div class="row">
			<div class="col-md-9 pull-left">
				<label>How many sisters does your father have? (your aunts)</label>
			</div>
			<div class="col-md-3">
				<select id="pat_aunts" class="form-control">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>


		<div class="row">
			<div class="col-md-9 pull-left">
				<label>How many brothers do you have?</label>
			</div>
			<div class="col-md-3">
				<select id="brothers" class="form-control input-small">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>


		<div class="row extra-top-padding">
			<div class="col-md-9 pull-left">
				<label>How many sisters do you have?</label>
			</div>
			<div class="col-md-3">
				<select id="sisters" class="form-control">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>


		<div class="row extra-top-padding">
			<div class="col-md-9 pull-left">
				<label>How many sons do you have?</label>
			</div>
			<div class="col-md-3">
				<select id="sons" class="form-control">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>


		<div class="row extra-top-padding">
			<div class="col-md-9 pull-left">
				<label>How many daughters do you have?</label>
			</div>
			<div class="col-md-3">
				<select id="daughters" class="form-control">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
	</div>