{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block header_css %}
	<style>
		.disabled {
		    color: grey;
		}
	</style> 
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="https://code.jquery.com/ui/1.12.0/themes/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
	    {% include "DropDown.html" %}
		<h2>{{ title }}</h2> 
	    <h2>{{ message }}</h2>
	    
	{% else %}
    	<strong>Please login to run calculations.</strong>
    {% endif %}
</div>
<p>&copy; {{ year }} - Application</p>
{% endblock %}

{% block footer_js %}
 

{% endblock %}